body{
	background-color:  #E5E7E9;
}
.header{
	
	background-color: #212F3C;
	width: all;
	height: 80px;
}
.hd1{
	float: left;
}
.logo{
	margin-left: 40px;
	width: 120px;
	height: 70px;
}
.hd2{
	float: left;
	font-style: italic;
	font-size: 20px;
	color: #D0D3D4;
	margin-left: 300px;
	margin-top: -20px;
}
.hd3{
	float: left;

	margin-left:  300px;
	margin-top: 0px;
	font-size: 14px;
	color: #D0D3D4;
	font-weight: bold;
}


.link{
	background-color: white;
	width: all;
	height: 50px;
}
.home{
	margin-left: 40px;
	color: #1C2833;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Gallery{
		color: #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Prevention{
		color: #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Symptoms{
		color:  #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.About{
		color:  #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Contact{
		color:  #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}

.pre1{
	margin-left: 150px;
	width: 1000px;
	height: 500px;
}

.points{
	margin-left: 40px;
	color: #421B90;
	font-weight: bold;
	font-size: 20px;

}


.footer{
	width: all;
	height: 30px;
	background-color: #1B6990;
	color: white;
	text-align: center;
	font-style: italic;
	font-weight: bolder;
	font-size:20px;
	padding-top: 40px;
}