body{
	background-color:  #E5E7E9;
}
.header{
	
	background-color: #212F3C;
	width: all;
	height: 80px;
}
.hd1{
	float: left;
}
.logo{
	margin-left: 40px;
	width: 120px;
	height: 70px;
}
.hd2{
	float: left;
	font-style: italic;
	font-size: 20px;
	color: #D0D3D4;
	margin-left: 300px;
	margin-top: -20px;
}
.hd3{
	float: left;

	margin-left:  300px;
	margin-top: 0px;
	font-size: 14px;
	color: #D0D3D4;
	font-weight: bold;
}


.link{
	background-color: white;
	width: all;
	height: 50px;
}
.home{
	margin-left: 40px;
	color: #1C2833;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Gallery{
		color: #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Prevention{
		color: #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Symptoms{
		color:  #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.About{
		color:  #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.Contact{
		color:  #1C2833;
		margin-left: 10px;
	font-size: 20px;
	font-weight: bolder;
 text-decoration: none;
}
.vuhan{
	margin-left: 195px;
	margin-top: 90px;
		width: 910px;
	height: 500px;
}
.intro{
	background-color: #D0D3D4;
}
.head{
	font-size: 30px;
	font-family: Segoe UI Historic;
	color: #212F3D;

}
.tet{
	font-family: Segoe UI Historic;
	color: #212F3D;
}
.back{
	float: left;
}

.right{
margin-left: 100px
}
.pic2{
	margin-left: 90px;
	margin-top: 10px;
		width: 930px;
	height: 500px;
}
.footer{
	width: all;
	height: 30px;
	background-color: #1B6990;
	color: white;
	text-align: center;
	font-style: italic;
	font-weight: bolder;
	font-size:20px;
	padding-top: 40px;
}